body {
    margin: 0;
}
ul {
    margin: 0;
    padding-left: 0;
}
li  {
    line-height: 2;
    list-style-type: none;
}
span {
    line-height: 32px;
}
.main__title {
    font-family: 'Bungee';
    line-height: 1;
    display: inline-block;
    width: 49%;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 60px;
}
.main__img {
    vertical-align: middle;
    width: 50%;
}
.info {
    padding: 100px 0 100px 0;
    text-align: center;
}
.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.info__title {
    font-family: 'Bungee';
    line-height: 1;
    font-weight: 400;
    font-size: 60px;
}
.info__desc {
    font-weight: 400;
    font-size: 20px;
}

.info__block_big {
    width: 110px;
    height: 110px;
    background: rgba(73, 182, 255, 0.2);
}
.info__block_middle {
    width: 68px;
    height: 68px;
    background: rgba(73, 182, 255, 0.2);
}

.info__block_the-smallest {
    width: 26px;
    height: 26px;
    background: rgba(73, 182, 255, 0.2);
}
.info__block_big-center {
    margin: 0 auto;
}
.info__block_small {
    width: 42px;
    height: 42px;
    background: rgba(73, 182, 255, 0.2);
}
.info__block_small-center {
    margin: 0 auto;
}
.contacts {
    margin: 0 0 100px 0;
}
.contacts__blocks {
    display: flex;
    justify-content: space-between;
}
.contacts__block {}
.block-contacts {}
.block-contacts__title {
    font-family: 'Bungee';
    font-weight: 400;
    font-size: 24px;
}
.block-contacts__desc {}
.contacts__logo {}


.photo {
    text-align: right;
    margin: 0px 0px 100px 0px;
}
.photo div {
    margin-left: auto;
}
.photo__img {
    position: absolute;
    top: 110px;
    left: 0;
    z-index: 2;
}
.photo__img-big {
    margin-top: 68px;
}
